
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerProductOrServiceLabel" data-translate="truckwashApp.customerProductOrService.home.createOrEditLabel">Create or edit a Customer Product Or Service</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.customerProductOrService.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.customerProductOrService.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="truckwashApp.customerProductOrService.percentDiscount" for="field_percentDiscount">Percent Discount</label>
            <input type="number" class="form-control" name="percentDiscount" id="field_percentDiscount"
                    ng-model="vm.customerProductOrService.percentDiscount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="truckwashApp.customerProductOrService.overridingPricePerUnit" for="field_overridingPricePerUnit">Overriding Price Per Unit</label>
            <input type="number" class="form-control" name="overridingPricePerUnit" id="field_overridingPricePerUnit"
                    ng-model="vm.customerProductOrService.overridingPricePerUnit"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
